<br>
<br>
<br>
<br>

<div class="container mt-5 ">
    <div class="align-items-center mt-5">
        <div class="col-md-12 mx-auto  ">
            <div class="jumbotron  mt-6 ">
                <h1 class="mt-6">Bem vindo ao Menu de Cadastros!</h1>

                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Escolha o que deseja cadastrar</li>
                </ol>
                <br/>
                <div class="row  d-flex justify-content-center">
                    <div class="col-lg-3 col-md-4">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner  d-flex justify-content-center">
                                <h2>Pessoa Jurídica</h2>
                            </div>
                            <a routerLink="/pessoa-juridica/cadastro" class="small-box-footer border-bottom">
                                <h4>Cadastro</h4>
                            </a>
                            <a routerLink="/pessoa-juridica/lista" class="small-box-footer">
                                <h4>Listagem</h4>
                            </a>

                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner  d-flex justify-content-center">
                                <h2>Pessoa Física</h2>
                            </div>
                            <a routerLink="/pessoa-fisica/cadastro" class="small-box-footer border-bottom">
                                <h4>Cadastro</h4>
                            </a>
                            <a routerLink="/pessoa-fisica/lista" class="small-box-footer">
                                <h4>Listagem</h4>
                            </a>

                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner  d-flex justify-content-center">
                                <h2>Bancos</h2>
                            </div>
                            <a routerLink="/bancos/cadastro" class="small-box-footer border-bottom">
                                <h4>Cadastro</h4>
                            </a>
                            <a routerLink="/bancos/lista" class="small-box-footer">
                                <h4>Listagem</h4>
                            </a>

                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>