<br>
<br>
<br>

<div class="container mt-5">
      <div class="align-items-center">
            <div class="col-md-12 mx-auto ">
                  <div class="">
                        <h1>Pessoa Jurídica</h1>
                        <ol class="breadcrumb">
                              <li class="breadcrumb-item active"> <a routerLink="/pessoa-juridica/cadastro">Cadastro </a></li>
                              <li class="breadcrumb-item active"> <a routerLink="/pessoa-juridica/lista">Lista de Pessoas Jurídicas </a></li>
                        </ol>
                  </div>
            </div>
            <form class="container" #pessoaJuridicaForm="ngForm" (ngSubmit)="onSubmit()">

                  <div class="row">
                        <div class="col-md-12">
                              <div class="alert alert-success" role="alert" *ngIf="success == true">
                                    Cadastrado/Atualizado com sucesso!
                              </div>
                        </div>
                        <div class="col-md-12">
                              <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                                    {{ erro }}
                              </div>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-md-12">
                              <div class="form-group">
                                    <label>Razão Social: </label>
                                    <input type="text" class="form-control" [(ngModel)]="pessoaJuridica.razaoSocial"
                                          name="razaoSocial" autocomplete="off"/>
                              </div>

                        </div>
                  </div>
                  <div class="row">
                        <div class="col-md-12">
                              <div class="form-group">
                                    <label>Nome Fantasia: </label>
                                    <input type="text" class="form-control" [(ngModel)]="pessoaJuridica.nomeFantasia"
                                          name="nomeFantasia" autocomplete="off"/>
                              </div>

                        </div>
                  </div>
                  <div class="row">
                        <div class="col-md-12">
                              <div class="form-group">
                                    <label>Apelido: </label>
                                    <input type="text" class="form-control" [(ngModel)]="pessoaJuridica.apelido"
                                          name="apelido" autocomplete="off"/>
                              </div>

                        </div>
                  </div>
                  <div class="row">
                        <div class="col-md-12">
                              <div class="form-group">
                                    <label>Endereço: </label>
                                    <input type="text" class="form-control" [(ngModel)]="pessoaJuridica.endereco"
                                          name="endereco" autocomplete="off"/>
                              </div>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-md-12">
                              <div class="form-group">
                                    <label>CNPJ: </label>
                                    <input type="text" class="form-control" [(ngModel)]="pessoaJuridica.cnpj"
                                          name="cnpj" autocomplete="off"/>
                              </div>
                        </div>

                  </div>
                  <div class="row">
                        <div class="col-md-6">
                              <div class="form-group">
                                    <label>Email: </label>
                                    <input type="text" class="form-control" [(ngModel)]="pessoaJuridica.email"
                                          name="email" autocomplete="off"/>
                              </div>
                        </div>
                        <div class="col-md-6">
                              <div class="form-group">
                                    <label>Telefone: </label>
                                    <input type="text" class="form-control" [(ngModel)]="pessoaJuridica.telefone"
                                          name="telefone" autocomplete="off"/>
                              </div>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-md-2">
                              <button type="submit" class="btn btn-success" *ngIf="!pessoaJuridica.id">
                                    <i class="fa fa-save"></i> Salvar
                              </button>
                              <button type="submit" class="btn btn-success" *ngIf="pessoaJuridica.id">
                                    <i class="fa fa-save"></i> Atualizar
                              </button>
                        </div>
                        <div class="col-md-2">
                              <button type="button" class="btn btn-dark" (click)="voltar()">
                                    <i class="fa fa-arrow-circle-left"></i> Voltar
                              </button>
                        </div>
                        <div class="float-right col-md-2">
                              <button type="button" class="btn btn-secondary" (click)="ativar()"
                                    *ngIf="pessoaJuridica.desativado == 1">
                                    <i class="fa fa-trash"></i> Ativar
                              </button>
                              <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#modalDelecao" *ngIf="pessoaJuridica.desativado == 0">
                                    <i class="fa fa-trash"></i> Desativar
                              </button>
                        </div>
                        <div id="modalDelecao" class="modal fade" role="dialog">
                              <div class="modal-dialog">
                                    <div class="modal-content">
                                          <div class="modal-header">
                                                <h4>Confirmação</h4>
                                          </div>
                                          <div class="modal-body">
                                                <h6>Deseja desativar Pessoa Jurídica {{ pessoaJuridica.razaoSocial }} ?
                                                </h6>
                                          </div>
                                          <div class="modal-footer">
                                                <button class="btn btn-danger" (click)="desativar()"
                                                      data-dismiss="modal">Confirma</button>
                                                <button class="btn btn-primary ml-1"
                                                      data-dismiss="modal">Cancelar</button>
                                          </div>
                                    </div>
                              </div>
                        </div>

                  </div>
            </form>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>