<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a routerLink="/home" class="logo" >
                        <div>Controle Fácil</div>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav"  >
                        <li><a routerLink="/lancamentos/cadastro" class="active">Lançamentos</a></li>
                        <li><a routerLink="/cadastros">Cadastros</a></li>
                        <li><a routerLink="/dashboards"> Dashs</a></li>
                      </ul>
                    <a class='menu-trigger' >
                     <!-- data-toggle="collapse" href="#multiCollapseExample1"  aria-expanded="false" aria-controls="multiCollapseExample1"> 
                        class="collapse multi-collapse" id="multiCollapseExample1"-->
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
 